:root{
	--fublis-gray-50: #F9FAFB;
	--fublis-gray-100: #F2F4F7;
	--fublis-gray-200: #EAECF0;
	--fublis-gray-300: #D0D5DD;
	--fublis-gray-500: #667085;
	--fublis-gray-600: #475467;
	--fublis-gray-700: #344054;
	--fublis-gray-900: #101828;
	--fublis-indigo-50: #EEF4FF;
	--fublis-indigo-700: #3538CD;
	--fublis-pink-50: #FDF2FA;
	--fublis-pink-100: #F4EBFF;
	--fublis-pink-200: #E9D7FE;
	--fublis-pink-700: #C11574;
	--fublis-purple-50: #F9F5FF;
	--fublis-purple-100: #F4EBFF;
	--fublis-purple-600: #7F56D9;
	--fublis-purple-700: #6941C6;
	--fublis-purple-800: #53389E;
	--fublis-purple-900: #42307D;
	--fublis-white: #ffffff;

	--fublis-divider-color: #D0D0D0;
	--fublis-nav-height: 6rem;

	--fublis-breadcrumb-item-padding-x: 1rem;
}

body{
	font-family: 'Inter', sans-serif !important;
	font-size: 15px;
}

a{
	text-decoration: none;
}

.fw-medium{
	font-weight: 500 !important;
}

.rounded-top-4 {
	border-top-left-radius: var(--bs-border-radius-xl) !important;
	border-top-right-radius: var(--bs-border-radius-xl) !important;
}

.text-gray-300{
	color: var(--fublis-gray-300) !important;
}
.text-gray-500{
	color: var(--fublis-gray-500) !important;
}
.text-gray-600{
	color: var(--fublis-gray-600) !important;
}
.text-gray-900{
	color: var(--fublis-gray-900) !important;
}

.text-purple-600{
	color: var(--fublis-purple-600) !important;
}

a.text-purple-600:hover{
	color: var(--fublis-purple-800) !important;
}

.text-purple-700{
	color: var(--fublis-purple-700) !important;
}

.text-purple-800{
	color: var(--fublis-purple-800) !important;
}

.text-purple-900{
	color: var(--fublis-purple-900) !important;
}

.text-pink-200{
	color: var(--fublis-pink-200) !important;
}

.border-gray-300{
	border-color: var(--fublis-gray-300) !important;
}
.border-purple-600{
	border-color: var(--fublis-purple-600) !important;
}
.border-purple-700{
	border-color: var(--fublis-purple-700) !important;
}

.bg-gray-50{
	background: var(--fublis-gray-50) !important;
}
.bg-gray-200{
	background: var(--fublis-gray-200) !important;
}
.bg-pink-100{
	background: var(--fublis-pink-100) !important;
}
.bg-purple-50{
	background: var(--fublis-purple-50) !important;
}
.bg-purple-600{
	background: var(--fublis-purple-600) !important;
}
.bg-purple-700{
	background: var(--fublis-purple-700) !important;
}
.bg-purple-800{
	background: var(--fublis-purple-800) !important;
}

.bg-primary {
	background-color: var(--fublis-purple-600) !important;
}
.btn-primary {
	--bs-btn-color: var(--fublis-white);
	--bs-btn-bg: var(--fublis-purple-600);
	--bs-btn-border-color: var(--fublis-purple-600);
	--bs-btn-hover-color: var(--fublis-white);
	--bs-btn-hover-bg: var(--fublis-purple-700);
	--bs-btn-hover-border-color: var(--fublis-purple-700);
	--bs-btn-focus-shadow-rgb: 49,132,253;
	--bs-btn-active-color: var(--fublis-white);
	--bs-btn-active-bg: var(--fublis-purple-700);
	--bs-btn-active-border-color: var(--fublis-purple-700);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--fublis-white);
	--bs-btn-disabled-bg: var(--fublis-purple-600);
	--bs-btn-disabled-border-color: var(--fublis-purple-600);
}

.btn-outline-primary {
	--bs-btn-color: var(--fublis-purple-600);
	--bs-btn-border-color: var(--fublis-purple-600);
	--bs-btn-hover-color: var(--fublis-white);
	--bs-btn-hover-bg: var(--fublis-purple-700);
	--bs-btn-hover-border-color: var(--fublis-purple-700);
	--bs-btn-focus-shadow-rgb: 13,110,253;
	--bs-btn-active-color: var(--fublis-white);
	--bs-btn-active-bg: var(--fublis-purple-700);
	--bs-btn-active-border-color: var(--fublis-purple-700);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--fublis-purple-600);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--fublis-purple-600);
	--bs-gradient: none;
}

.error{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 0.875em;
	color: #dc3545;
}

.z-30{
	z-index: 30;
}

.flex{
	display: flex;
}

/* a.text-purple{
	opacity: 0.7;
}
a.text-purple:hover{
	opacity: 1;
} */

#header{
	height: var(--fublis-nav-height);
}

#body{
	padding-top: var(--fublis-nav-height);
	width: 100%;
}

.header-logo{
	width: 130px;
}

#headerNav li a{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#headerSearchInput{
	max-width: 250px;
}

#headerSearchInput:focus, #filterSearchInput:focus, .search-input:focus{
	background-color: var(--fublis-white);
	border-color:  #ced4da;
}

#profileNav li a{
	height: 40px;
	width: 40px;
	font-size: 20px;
}

/* #profileNav li a i{
	font-size: 18px;
} */

.footer-logo{
	width: 130px;
}

.footer-heading{
	font-size: 15px;
}

.footer-list li a{
	font-size: 14px;
}

.footer-list li a:hover{
	text-decoration: underline;
}

/* .grid{
	--bs-columns: 5;
	display: grid;
	grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
	grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
	gap: var(--bs-gap, 1.5rem);
} */

/* .grid > div{
	width: 20%;
} */

.footer-nav > div{
	/* min-width: 155px; */
  	padding-bottom: 1.5rem;
}

#socialNav li a{
	font-size: 17px;
}

.badge-pink{
	background: var(--fublis-pink-50);
	color: var(--fublis-pink-700);
}
.badge-purple{
	background: var(--fublis-purple-50);
	color: var(--fublis-purple-700);
}
.badge-indigo{
	background: var(--fublis-indigo-50);
	color: var(--fublis-indigo-700);
}


.filter-header{
	font-size: 0.9rem;
}

.filter-checkbox:checked, .form-check-input:checked{
	background-color: var(--fublis-purple-600);
	border-color: var(--fublis-purple-600);
}

.divider{
	border-color: var(--fublis-divider-color);
}

.btn-white, .btn-white:hover{
	background-color: var(--fublis-white);
	color: var(--fublis-gray-700);
	border-color: var(--fublis-gray-300);
}

.btn-white:hover{
	opacity: 0.6;
}

.modal-backdrop.show{
	background: rgba(52, 64, 84, 0.70);
	backdrop-filter: blur(10px);
	opacity: 1;
}

.section-content{
	margin-bottom: 4rem;
}

.section-title{
	color: var(--fublis-gray-900);
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 2.75rem;
	margin-bottom: 1.25rem;
}

.section-subtitle{
	color: var(--fublis-purple-700);
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5rem;
	margin-bottom: 0.75rem;
}

.section-description{
	color: var(--fublis-gray-600);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	margin-bottom: 0;
}

.fublis-header{
	color: var(--fublis-purple-700);
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.25rem;
	margin-bottom: 0.75rem;
}

.fublis-body{
	color: var(--fublis-gray-900);
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.75rem;
	margin-bottom: 0rem;
}

.circle-icon{
	width: 3.5rem;
	height: 3.5rem;
	position: relative;
}

.circle-icon i{
	height: 2.25rem;
  	width: 0.875rem;
	left: 0.875rem;
	top: 0.875rem;
	text-align: center;
	position: absolute;
}

.filter-btn{
	display: none;
}

.filter-container{
	position: sticky;
	top: 9rem;
}

#searchBox{
	height: 250px;
	top: 40px;
	z-index: 99;
	overflow-y: scroll;
}

/************************ START BLOG ************************/
.blog-hero-container p{
	max-width: 450px;
}

.blog-hero-container .input-group{
	max-width: 400px;
}

.blog-post-card, .blog-post-card .card-img-top{
	border-radius: 0;
}

.blog-post-card .card-img-top{
	height: auto;
}

.blog-post-card{
	background: transparent;
	border: none;
}

.blog-author{
	color: var(--fublis-purple-700);
	font-size: 14px;
	font-weight: 600;
}

.blog-title{
	color: var(--fublis-gray-900);
	font-size: 24px;
	font-weight: 600;
}

.blog-description{
	color: var(--fublis-gray-600);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

/* .blog-tags{

}

.blog-post-card .card-img-top{

} */

.blog-content img{
	max-width: 100%;
	border-radius: 20px;
	height: auto;
}

.blog-content blockquote{
	padding-left: 1rem;
	border-left: 3px solid var(--fublis-purple-700);
	font-style: italic;
}

.blog-newsletter-container h2{
	color: var(--fublis-gray-900);
	/* font-size: 2.25rem;
	font-weight: 600;
	line-height: 2.75rem; */
}

.blog-newsletter-container p{
	color: var(--fublis-gray-600);
	/* font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.875rem; */
}


/************************ END BLOG ************************/

.step-line{
	height: 0.125rem;
	top: 0.825rem;
}

.steps .step-title{
	color: var(--fublis-gray-700);
}

.steps .step-subtitle{
	color: var(--fublis-gray-600);
}

.steps .step-icon{
	width: 1.5rem;
	height: 1.5rem;
	background: var(--fublis-gray-100);
}

.steps .inner-circle {
	width: 0.5rem;
	height: 0.5rem;
	margin: 0.5rem auto;
	background: var(--fublis-white);
}

.step-current .step-title{
	color: var(--fublis-purple-700);
}

.step-current .step-subtitle{
	color: var(--fublis-purple-600);
}

.step-current .step-icon, .step-complete .step-icon{
	background: var(--fublis-purple-600);
}

.step-current .step-icon{
	box-shadow: 0px 0px 0px 0.25rem var(--fublis-purple-100);
}

.mail-icon{
	width: 3.5rem;
	height: 3.5rem;
	background: var(--fublis-purple-100);
	border: 10px solid var(--fublis-purple-50);
	padding: 0.5rem;
}

.mail-icon i{
	font-size: 1.25rem;
}

.add-story-card .card-header{
	background: #D9D9D9;
	color: #9E9E9E;
}

.upload-icon{
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.25rem;
	background: var(--fublis-gray-100);
	border: 6px solid var(--fublis-gray-50);
}

.btn-filter-check + .btn{
	color: var(--fublis-gray-500);
	border: none;
}

.btn-filter-check:checked + .btn{
	color: var(--fublis-purple-700);
  	background-color: var(--fublis-purple-50);
	border-bottom: 2px solid var(--fublis-purple-700);
}

.fublis-breadcrumb-item + .fublis-breadcrumb-item {
	padding-left: var(--fublis-breadcrumb-item-padding-x);
}

.fublis-breadcrumb-item + .fublis-breadcrumb-item::before {
	padding-right: var(--fublis-breadcrumb-item-padding-x);
}

.custom-radio {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

.fublis-radio{
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid var(--fublis-gray-200);
}

.fublis-radio svg{
	display: none;
}

.custom-radio:checked + .card{
	border-color: var(--fublis-purple-600) !important;
}

.custom-radio:checked+.card .contact-title{
	color: var(--fublis-purple-800) !important;
}

.custom-radio:checked+.card .contact-subtitle{
	color: var(--fublis-purple-700) !important;
}

.custom-radio:checked+.card .fublis-radio{
	border: none;
	background: var(--fublis-purple-700);
}

.custom-radio:checked+.card .fublis-radio svg{
	display: block;
}

#searchBox input{
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}
.search-list:hover{
	background: var(--fublis-gray-50);
	cursor: pointer;
}

input:checked + .search-list{
	background: var(--fublis-gray-100);
}

.search-list .checked{
	right: 10px;
	top: 10px;
	font-size: 22px;
	opacity: 0;
}
input:checked+.search-list .checked{
	opacity: 1;
}









@media(max-width: 992px){
	.filter-btn{
		display: block;
	}
	.filter-container:not(.show){
		display: none;
	}
	.filter-container{
		position: absolute;
		z-index: 9;
		background: var(--fublis-white);
		width: 100%;
		top: -5px;
		padding: 1.5rem;
		border: 1px solid var(--fublis-gray-300);
	}

	#searchBox{
		top: 65px;
	}

	.steps.step-complete, .steps.step-incomplete{
		display: none;
	}
}






@media(max-width: 440px){
	.blog-post-card{
		padding: 0 !important;
	}
}
