:root{
	--fublis-purple: #7F56D9;
}

.text-purple{
	color: var(--fublis-purple) !important;
}

.border-purple{
	border-color: var(--fublis-purple) !important;;
}

/* a.text-purple{
	opacity: 0.7;
}
a.text-purple:hover{
	opacity: 1;
} */

#header{
	height: 100px;
}

#body{
	padding-top: 100px;
	width: 100%;
}

.header-logo{
	width: 130px;
}

#headerNav li a{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#headerSearchInput{
	width: 250px;
}

#headerSearchInput:focus{
	background-color: #fff;
	border-color:  #ced4da;
}

#profileNav li a{
	height: 40px;
	width: 40px;
	font-size: 18px;
}

/* #profileNav li a i{
	font-size: 18px;
} */

.footer-logo{
	width: 130px;
}

.footer-heading{
	font-size: 16px;
}

.footer-list li a{
	font-size: 15px;
}

.footer-list li a:hover{
	text-decoration: underline;
}

/* .grid{
	--bs-columns: 5;
	display: grid;
	grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
	grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
	gap: var(--bs-gap, 1.5rem);
} */

/* .grid > div{
	width: 20%;
} */

.footer-nav > div{
	/* min-width: 155px; */
  	padding-bottom: 1.5rem;
}
